{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Lite - Launching New Mobile App Bootstrap Responsive website Template | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8"/>
    <meta name="keywords" content="Lite Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design"/>
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="{% static 'css/bootstrap.css' %}" type="text/css" rel="stylesheet" media="all">
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href="{% static 'css/fontawesome-all.min.css' %}" rel="stylesheet">
    <!-- //Custom Theme files -->
</head>

<body>
{% block container %} {% endblock %}
{% include 'includes/footer.html' %}
<!-- login  -->
{% include 'includes/login.html' %}
<!-- //login -->
<!-- //footer -->
{% include 'includes/script.html' %}

</body>


</html>