{% load static %}
<div class="agileits-partners py-sm-5 py-4" id="partners">
    <div class="container py-lg-5">
        <div class="title-wthree text-center">
            <h3 class="agile-title">
                our partners
            </h3>
            <span></span>
        </div>
        <ul class="list-unstyled py-md-5 partners-icon text-center">
            <li>
                <i class="fab fa-supple"></i>
            </li>
            <li>
                <i class="fab fa-aviato"></i>
            </li>
            <li>
                <i class="fab fa-cpanel"></i>
            </li>
            <li>
                <i class="fab fa-hooli"></i>
            </li>
        </ul>
    </div>
</div>