<footer id="footer" class="text-sm-left text-center">
    <div class="container py-4 py-sm-5">
        <h2>
            <a class="navbar-brand text-white" href="index.html">
                <i class="fab fa-laravel"></i> lite
            </a>
        </h2>
        <div class="row py-sm-5 py-3">
            <div class="col-lg-2 col-md-4 col-sm-6">
                <ul class="list-agileits">
                    <li>
                        <a href="index.html" class="nav-link">
                            Home
                        </a>
                    </li>
                    <li class="my-2">
                        <a href="#register" class="nav-link scroll">
                            Register
                        </a>
                    </li>
                    <li class="my-2">
                        <a href="#process" class="nav-link scroll">
                            Process
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="#partners" class="nav-link scroll ">
                            Partners
                        </a>
                    </li>
                    <li>
                        <a href="#contact" class="nav-link scroll">
                            Contact Us
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 mt-sm-5">
                <ul class="list-agileits">
                    <li>
                        <a href="#register" class="nav-link scroll">
                            Register
                        </a>
                    </li>
                    <li class="my-2">
                        <a href="#" class="nav-link">
                            Terms
                        </a>
                    </li>
                    <li class="my-2">
                        <a href="#" class="nav-link">
                            License
                        </a>
                    </li>
                </ul>
            </div>
            <div class="offset-lg-5"></div>
            <div class="col-lg-3 col-md-4 footer-end-grid mt-md-0 mt-sm-5">
                <div class="fv3-contact">
                    <span class="fas fa-phone mr-2"></span>
                    <p class="d-inline">
                        111 22 3333
                    </p>
                </div>
                <div class="fv3-contact">
                    <span class="fas fa-mobile mr-2"></span>
                    <p class="d-inline">
                        111 22 3333
                    </p>
                </div>
                <div class="fv3-contact">
                    <span class="fas fa-envelope-open mr-2"></span>
                    <p class="d-inline">
                        <a href="mailto:example@email.com">info@example.com</a>
                    </p>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between pt-lg-5   footer-bottom-cpy">
            <div class="cpy-right text-center">
                <p>© 2018 Lite. All rights reserved | Design by
                    <a href="http://w3layouts.com" class="text-white"> W3layouts.</a>
                </p>
            </div>
            <div class="social-icons pb-md-0 pb-4">
                <ul class="social-iconsv2 agileinfo text-center">
                    <li class="ml-lg-5">
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-google-plus-g"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>