{% load static %}
<div class="agileits-services py-5" id="services">
    <div class="container py-sm-5">
        <div class="title-wthree text-center">
            <h3 class="agile-title   text-white">
                our services
            </h3>
            <span></span>
        </div>
        <div class="agileits-services-row row  py-sm-5">
            <div class="col-lg-4">
                <div class="agileits-services-grids">
                    <img src="{% static 'images/i1.jpg' %}" alt="" class="img-fluid rounded-circle"/>
                    <h4 class="sec-title">Service 1
                    </h4>
                    <span></span>
                    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec
                        velit
                        neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="agileits-services-grids mt-lg-0 mt-5">
                    <img src="{% static 'images/i3.jpg' %}" alt="" class="img-fluid rounded-circle"/>
                    <h4 class="sec-title">Service 2
                    </h4>
                    <span></span>
                    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec
                        velit
                        neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="agileits-services-grids mt-lg-0 mt-5">
                    <img src="{% static 'images/i2.jpg' %}" alt="" class="img-fluid rounded-circle"/>
                    <h4 class="sec-title">Service 3
                    </h4>
                    <span></span>
                    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec
                        velit
                        neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</p>
                </div>
            </div>
        </div>
    </div>
</div>