{% load static  %}
<div class="w3-register py-4" id="register">
    <div class="container py-lg-5">
        <div class="row register-form py-md-5">
            <!-- register details -->
            <div class="col-lg-4 register-bottom d-flex flex-column register-right-w3ls">
                <div class="title-wthree">
                    <h3 class="agile-title">
                        register
                    </h3>
                    <span></span>
                </div>

                <p class="pb-sm-5">Donec mi nulla, auctor nec sem a, ornare auctor mi. Sed mi tortor, commodo a felis
                    in, fringilla tincidunt
                    nulla. Vestibulum volutpat non eros ut vulpuuctor nec sem a, ornare auctor mi sed mi tortor.</p>

                <h5 class="pt-5 text-capitalize">fill out the form
                    <i class="far fa-hand-point-right"></i>
                </h5>

                <p class="font-weight-bold text-capitalize">become a member of
                    <span>lite</span>
                </p>
            </div>
            <div class="offset-lg-2"></div>
            <div class="col-lg-6 wthree-form-left py-sm-5">
                <!-- register form grid -->
                <div class="register-top1">
                    <form action="#" method="get" class="register-wthree">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2 d-md-flex align-items-end justify-content-end px-md-0">
                                    <label class="mb-0">
                                        <span class="fas fa-user"></span>
                                    </label>
                                </div>
                                <div class="col-md-5">
                                    <label>
                                        First name
                                    </label>
                                    <input class="form-control" type="text" placeholder="Johnson" name="email"
                                           required="">
                                </div>
                                <div class="col-md-5">
                                    <label>
                                        Last name
                                    </label>
                                    <input class="form-control" type="text" placeholder="Kc" name="email" required="">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2 d-md-flex align-items-end justify-content-end px-md-0">
                                    <label class="mb-0">
                                        <span class="fas fa-envelope-open"></span>
                                    </label>
                                </div>
                                <div class="col-md-10">
                                    <label>
                                        Email
                                    </label>
                                    <input class="form-control" type="email" placeholder="example@email.com"
                                           name="email" required="">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2 d-md-flex align-items-end justify-content-end px-md-0">
                                    <label class="mb-0">
                                        <span class="fas fa-lock"></span>
                                    </label>
                                </div>
                                <div class="col-md-10">
                                    <label>
                                        password
                                    </label>
                                    <input type="password" class="form-control" placeholder="*******" name="Password"
                                           id="password1" required="">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2 d-md-flex align-items-end justify-content-end px-md-0">
                                    <label class="mb-0">
                                        <span class="fas fa-lock"></span>
                                    </label>
                                </div>
                                <div class="col-md-10">
                                    <label>
                                        confirm password
                                    </label>
                                    <input type="password" class="form-control" placeholder="*******" name="Password"
                                           id="password2" required="">
                                </div>
                            </div>
                        </div>
                        <div class="row mt-lg-5 mt-3">
                            <div class="offset-2"></div>
                            <div class="col-md-10">
                                <button type="submit" class="btn btn-agile btn-block w-100">register</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!--  //register form grid ends here -->
            </div>

        </div>
        <!-- //register details container -->
    </div>
</div>