{% extends 'layouts/base.html' %}
{% block container %}
    <div class="rows">
        <div class="col-8">
            {% for item in news %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ item.subtitle }}</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="{{ item.link1 }}" class="card-link">link1</a>
                    <a href="{{ item.link2 }}#" class="card-link">link2</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
